<div class="container content">
  <div class="section text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Thank you for your application.</h1>  
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>We will review your application and get in touch with you soon.</p>  
      </div>
    </div>
  </div>
  <div class="section text-center">
    <a href="/how-it-works" class="text-primary">See how it works &emsp;<i class="fas fa-arrow-right text-white arrow0"></i></a> 
  </div>
</div>